@use "variables" as *;
@use "sass:color";

@mixin boton($bg, $color) {
  background: $bg;
  color: $color;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;

  &:hover {
    background: color.adjust($bg, $lightness: 10%);
    transform: scale(1.05);
  }
}

@mixin card {
  background: $color-card;
  border-radius: 8px;
  padding: 1rem;
  transition: transform 0.3s;
}
