
@use "variables";
@use "mixins";
@use "reset";
@use "header";
@use "hero";
@use "cartelera";
@use "resenas";
@use "estrenos";
@use "noticias";
@use "contacto";
@use "detalle";
@use "footer";
@use "animaciones";